{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block main %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">{% trans %}login.sign_in{% endtrans %}</h1>
    <label for="inputEmail" class="sr-only">{% trans %}login.login{% endtrans %}</label>
    <input type="text" value="{{ last_email }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
    <label for="inputPassword" class="sr-only">{% trans %}login.password{% endtrans %}</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> {% trans %}login.remember_me{% endtrans %}
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        {% trans %}login.sign_in{% endtrans %}
    </button>
</form>
{% endblock %}
