{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.login{% endtrans %}{% endblock %}
{% block description %}{% trans %}title.login{% endtrans %}{% endblock %}

{% block header %}
    <div class="page-header-login">
        <div class="page-wrapper">
            <h1>Camie</h1>
        </div>
    </div>
{% endblock %}
{% block main %}

<main>
    <section class="pb-5">
        <div class="page-wrapper">
            <div class="box-user">
                <div class="box-user__login"><img src="{{ asset('images/dog.svg') }}" alt="" /></div>
                <div class="box-user__content">
                    <form class="grid-flex" method="post">
                        <div class="column w-100">
                            <div class="input-animation">
                                <label for="email">{% trans %}login.username{% endtrans %}</label>
                                <input type="text" id="email" name="email" autocomplete="username" placeholder="user@gmail.com">
                            </div>
                        </div>

                        <div class="column w-100">
                            <div class="input-animation active">
                                <label for="password">{% trans %}login.password{% endtrans %}</label>
                                <input type="password" id="password" autocomplete="current-password" name="password" placeholder="{% trans %}login.password-placeholder{% endtrans %}">
                            </div>
                        </div>

                        <div class="column w-100">
                            <div class="custom-input-checkbox-2">
                                <input type="checkbox" name="_remember_me" id="_remember_me" />
                                <label for="_remember_me">{% trans %}login.remember_me{% endtrans %}</label>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <button id="submitBtn" type="submit" name="button" disabled class="btn disabled">Se connecter</button>
                    </form>
                </div>
            </div>
        </div>

    </section>
</main>

{% if error %}
    {% include 'utils/error-modal.html.twig' with {'error_message': error.messageKey|trans(error.messageData, 'security')} %}
{% endif %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}" ref="preload" as="script"></script>
    <script async>
        $('input').on('input', function() {
            if ($('#user').val() !== '' && $('#password').val() !== '') {
                $('.box-user').removeClass('box-user--activated').addClass('box-user--activated');
                $('#submitBtn').prop('disabled', false);
                $('#submitBtn').removeClass('disabled')
            } else {
                $('.box-user').removeClass('box-user--activated');

                $('#submitBtn').prop('disabled', true);
                $('#submitBtn').removeClass('disabled').addClass('disabled')
            }
        });
    </script>
{% endblock %}
