{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.home{% endtrans %}{% endblock %}

{% block main %}
<main>
    <section>
        <div class="page-wrapper">
            <p class="title-1">{% trans %}home.welcome{% endtrans %}</p>
            <p>
                {% if app.user.nursery.hometext %}
                    {{ app.user.nursery.hometext }}
                {% else %}
                    {% trans from 'fake-nursery' %}home.introduction{% endtrans %}
                {% endif %}
            </p>

            <br><br><br><br>

            <small>{% trans %}home.contact.phone{% endtrans %}</small>
            <p><b>{{ app.user.nursery.phone }}</b></p>
            <br>
            <small>{% trans %}home.contact.email{% endtrans %}</small>
            <p><b>{{ app.user.nursery.email }}</b></p>
            <br><br><br><br>

            {% if is_granted('ROLE_GUARDIAN') %}
                <a style="text-decoration: none" href="{{ path('child_create') }}"><button type="button" name="button" class="btn d-block mb-2" style="background-color: #41a0ff">{% trans %}home.create-child{% endtrans %}</button></a>
            {% endif %}

            <br><br>
        </div>
    </section>
</main>
{% endblock %}
