{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.home{% endtrans %}{% endblock %}

{% block main %}
<main>
    <section>
        <div class="page-wrapper">
            <p class="title-1">{% trans %}home.welcome{% endtrans %}</p>
            <p>
                {% trans %}home.introduction{% endtrans %}
            </p>

            <br><br><br><br>

            <small>{% trans %}home.contact.phone{% endtrans %}</small>
            <p><b>+32(00) 499 61 88 44</b></p>
            <br>
            <small>{% trans %}home.contact.phone{% endtrans %}</small>
            <p><b>email@gmail.com</b></p>

        </div>
    </section>
</main>
{% endblock %}
