{% extends 'base.html.twig' %}

{% block title %}{% trans %}title.child-create{% endtrans %}{% endblock %}
{% block description %}{% trans %}title.child-create{% endtrans %}{% endblock %}

{% block main %}
    <main>
        <section class="pb-5">
            <div class="page-wrapper">
                <div class="box-user">
                    <div class="box-letters">:)</div>

                    <div class="box-user__content">
                        <form class="grid-flex mb-3" method="post">
                            <div class="column w-100">
                                <div class="input-animation">
                                    <label for="firstname">{% trans %}child.create.firstname{% endtrans %}</label>
                                    <input type="text" id="firstname" name="firstname" placeholder="{% trans %}child.create.firstname-placeholder{% endtrans %}">
                                </div>
                            </div>
                            <div class="column w-100">
                                <div class="input-animation">
                                    <label for="lastname">{% trans %}child.create.lastname{% endtrans %}</label>
                                    <input type="text" id="lastname" name="lastname" placeholder="{% trans %}child.create.lastname-placeholder{% endtrans %}">
                                </div>
                            </div>
                            <div class="column w-100">
                                <div class="input-animation">
                                    <label for="birthdate">{% trans %}child.create.birthdate{% endtrans %}</label>
                                    <input type="date" id="birthdate" name="birthdate">
                                </div>
                            </div>
                            <div class="column w-100 mb-2">
                                <div class="input-group-radio" id="radioSexe">
                                    <div class="input-radio">
                                        <input type="radio" id="fille" name="radio2" checked/>
                                        <label for="fille"><i class="fas fa-venus"></i> {% trans %}child.create.girl{% endtrans %}</label>
                                    </div>
                                    <div class="input-radio">
                                        <input type="radio" id="garcon" name="radio2" />
                                        <label for="garcon"><i class="fas fa-mars"></i> {% trans %}child.create.boy{% endtrans %}</label>
                                    </div>
                                </div>
                            </div>

                            <div class="column w-100">
                                <div class="input-animation">
                                    <label for="guardian">{% trans %}child.create.guardian-name{% endtrans %}</label>
                                    <input type="text" id="guardian" name="user" placeholder="{% trans %}child.create.guardian-name{% endtrans %}">
                                </div>
                            </div>

                            <div class="column w-100">
                                <div class="input-animation">
                                    <label for="phone">{% trans %}child.create.guardian-phone{% endtrans %}</label>
                                    <input type="text" id="phone" name="phone" placeholder="{% trans %}child.create.guardian-phone{% endtrans %}">
                                </div>
                            </div>

                            <div class="column w-100">
                                <div class="input-animation">
                                    <label for="email">{% trans %}child.create.guardian-email{% endtrans %}</label>
                                    <input type="email" id="email" name="email" placeholder="{% trans %}child.create.guardian-email{% endtrans %}">
                                </div>
                            </div>

                            <div class="column w-100">
                                <div class="input-animation textarea">
                                    <label for="comment">{% trans %}child.create.comment{% endtrans %}</label>
                                    <textarea id="comment" name="comment" placeholder="{% trans %}child.create.comment-placeholder{% endtrans %}"></textarea>
                                </div>
                            </div>

                            <input type="hidden" id="sexe" name="sexe" value="F"/>

                            <button type="submit" class="btn bg-blue d-block">{% trans %}child.create.validate{% endtrans %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script async>
        $('#fille').on('click', function () {
            $('#sexe').val('F');
        });

        $('#garcon').on('click', function () {
            $('#sexe').val('M');
        });
    </script>
{% endblock %}