<section class="overlay overlay--scale overlay--v-align-middle overlay--low-opacity" data-modal="success_modal">
    <div class="overlay__close"></div>
    <div class="page-wrapper">
        <div class="box-info">
            <p class="text-center c-green"><i class="far fa-check-circle fa-5x"></i></p>
            <p class="c-main-color"><b>{{ success_message }}</b></p>
            <p class="text-right"><button type="button" class="btn-2 bg-gray" data-close="close">{% trans %}modal.close{% endtrans %}</button></p>
        </div>
    </div>
</section>


<script type="application/javascript">
    (function() {
        var body = document.getElementsByTagName('body')[0];
        var sections = document.querySelectorAll('section');
        var closeModal = document.querySelectorAll('[data-close="close"]');
        var overlayClose = document.querySelectorAll('.overlay .overlay__close');

        for (var _i3 = 0, _x2 = sections.length; _i3 < _x2; _i3++) {
            if (sections[_i3].classList.contains('overlay--open')) {
                body.classList.remove('overlay--open');
                var j = 0;
                while (j < sections.length) {
                    sections[j].classList.remove('overlay--open');j++;
                }
            } else {
                if (!sections[_i3].classList.contains('overlay--nav')){ //We don't want to open the nav bar
                    sections[_i3].classList.add('overlay--open');
                }
                body.classList.add('overlay--open');
            }
        }

        for (var j2 = 0; j2 < closeModal.length; j2++) {
            closeModal[j2].addEventListener('click', function () {
                for (var _i4 = 0, _x3 = sections.length; _i4 < _x3; _i4++) {
                    body.classList.remove('overlay--open');
                    sections[_i4].classList.remove('overlay--open');
                }
            });
        }

        for (var _j = 0; _j < overlayClose.length; _j++) {
            overlayClose[_j].addEventListener('click', function () {
                for (var _i5 = 0, _x4 = sections.length; _i5 < _x4; _i5++) {
                    body.classList.remove('overlay--open');
                    sections[_i5].classList.remove('overlay--open');
                }
            });
        }
    })();
</script>
